/* Space out content a bit */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.slider.slider-horizontal {
    width: 100%;
}